<nav class="navbar mx-auto">
  <div class="main-menu">
    <ul class="nav justify-content-end col-12">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/overview">Übersicht</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/folge-hinzufuegen">Folge hinzufügen</a>
      </li>
    </ul>
  </div>
</nav>
