    <%- include("./includes/head.ejs") %>
    <link rel="stylesheet" href="/css/form.css"> 
  </head>

  <body>
    <%- include("./includes/navigation.ejs") %>
    <div class="jumbotron">
      <div class="container">
        <h1><%= pageTitle %></h1>
      </div>
    </div>
    <div class="container">
      <div class="form-container row m-auto">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <h2>Neue Episode hinzufügen</h2>
          <form class="addEpisodeForm" action="/neue-episode" method="post">
            <label for="episodeTitle">Albumtitel</label>
            <input type="text" name="episodeTitle" id="episodeTitle">
            <label for="episodeNumber">Episode</label>
            <input type="text" name="episodeNumber" id="episodeNumber">
            <label for="episodeImage">Titelbild</label>
            <input type="text" name="episodeImage" id="episodeImage">
            <button type="submit" class="btn btn-dark">Episode hinzufügen</button>
          </form>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </body>

</html>