    <%- include("./includes/head.ejs") %>
  <body>
    <%- include("./includes/navigation.ejs") %>
    <div class="jumbotron">
      <div class="container">
        <h1><%= pageTitle %></h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>Hierbei handelt es sich um eine Übungsseite. Die Inhalte dienen lediglich dem Übungszweck.</p>
            <p>Die Inhalte stammen von der Webseite <a href="https://dreifragezeichen.de">https://dreifragezeichen.de</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
