.cirledNumber {
  background: #000;
  border-radius: 0.6em;
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.7em;
  color: #fff;
  display: inline-block;
  line-height: 1.2em;
  font-size: 0.7em;
  border: 2px solid #fff;
  text-align: center;
  width: 1.4em;
}

.singleEpisode {
  padding-top: 25px;
  padding-bottom: 25px;
}
