body {
  box-sizing: border-box;
  background-color: #000; /* #081e33 */
  color: #fff;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.75em;
}

p {
  font-size: 18px;
  line-height: 27px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #06aeec; /* #D0231B */
}

.jumbotron {
  background-color: #000;
}

.row {
  margin: 5% 0;
}

.episodeButtons {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  background-color: #fff;
  color: #000;
  margin: 5px;
}

.btn:hover {
  background-color: #06aeec;
  color: #000;
}

.delete-button:hover {
  background-color: #d0231b;
  color: #fff;
}
