body {
  box-sizing: border-box;
  background-color: #000; /* #081e33 */
  color: #fff;
}

.jumbotron {
  background-color: #000;
}

.row {
  margin: 5% 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #06aeec; /* #D0231B */
}
